/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
========================================
Navigation
========================================
*/

a{
  text-decoration: none;
  color: black;
}

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-left: 250px;
  margin-bottom: 90px;
  margin-right: 250px;
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  
}

.short-logo{
  font-family: "Hoefler Text", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.intro-video{
  display: flex;
  justify-content: center;
  margin-bottom: 210px;

}

.hidden-text{
  color:white;
  margin-bottom: 50px;
}

/*
========================================
Our Story
========================================
*/

.our-story-section{
  scroll-padding-top: 60px;
  background-color: #DDD1B2;
}

.our-story-handwritten{
  display: flex;
  justify-content: flex-start;
  width: 30%;
  margin-left: 250px;
  position: relative;
  margin-top: -70px;
}

.our-story-body{
  display: flex;
  justify-content: center;
}

.our-story-line{
  position: relative;
  top: -130px;
}

.our-story-body p{
  width: 26%;
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 2em;
  padding-left: 30px;
}

.logo-full{
  width: auto;
  height: 300px;
}


/*
========================================
Plated Brioche
========================================
*/

.plated-brioche{
  background-image: url(plated-brioche.png);
  background-size: cover;
}

/*
========================================
Jon & Valerie
========================================
*/

.jon-and-valerie{
  background-color: #2B3C25;
}

.jon-and-valerie p{
  display: flex;
  justify-content: center;
  width: 60%;
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 2em;
  color: #DDD1B2;
}

.jon-and-valerie-handwritten{
  display: flex;
  justify-content: center;
}

.jon-handwritten{
  width: 290px;
  height: 370px;
  
}

.and-handwritten{
  width: 164px;
  height: 167px;

}

.valerie-handwritten{
  width: 359px;
  height: 217px;
}

.offset-jon-and-valerie{
  position: relative;
  top: 175px;
}

.jon-and-valerie-photo{
  display: flex;
  justify-content: center;
}

.jon-and-valerie-text{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 150px;
}

/*
========================================
Reservations
========================================
*/

.reservations{
  background-image: url(pie.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 48px;
}

.reservations-button{
  font-family: "Hoefler Text", Helvetica, Arial, sans-serif;
  text-decoration: none;
  letter-spacing: .4rem;
  color: black;
  font-style: italic;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-color: white;
  display: block;
  justify-content: center;
  align-content: center;
  margin-top: 285px;
  margin-bottom: 285px;
  padding: 40px 40px;
}
/*
========================================
Contact Us
========================================
*/

.contact-us{
  background-color: #DDD1B2;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
  padding-bottom: 250px;
}

.contact-us img{
  padding-right: 40px;
}

.form{
  justify-content: center;
  justify-content: flex-start;
  align-content: center;
  border-radius: 0;
  border: none;
  width: 300px;
  height: 30px;
}

.comment-box-form{
  border-radius: 0;
  border: none;
  width: 325px;
  height: 100px;
}

.form label{
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 2em;  
  letter-spacing: .15em;

}

.comment-box-form label{
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .15em;
  margin-bottom: 30px;
}

.submit-button{
  border-radius: 0;
  border: none;
  background-color: #2B3C25;
  width: 300px;
  height: 70px;
  font-family: "Minion Pro Regular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}



/*
========================================
Footer
========================================
*/

.site-footer{
  background-color: white;
}

